@use '../abstracts/variables' as *;

.btn {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;

    padding: 1.6rem 1.961rem 1.6rem 2.1rem;
    cursor: pointer;
    transition: all .4s;

    &--white {
        color: $color-black;
        background-color: $color-white-shade-4;
        border: 1px solid $color-black;

        &:hover {
            color: $color-white-shade-4;
            background-color: $color-black;
            box-shadow: 0 .1rem .2rem rgba($color-black, .5);
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(-1px);
            box-shadow: 0 .1rem .2rem rgba($color-black, .5);
        }


    }

    &--dark {
        color: $color-white-shade-4;
        background-color: $color-black;
        border: 1px solid $color-white-shade-4;

        &:hover {
            color: $color-black;
            background-color: $color-white-shade-4;
            transform: translateY(-2px);


        }

        &:active {
            transform: translateY(-1px);
            box-shadow: 0 .1rem .2rem rgba($color-black, .5);
        }
    }
}