@use '../abstracts/variables' as *;

.contact-us {
    grid-column: full-start / full-end;
    text-align: center;
    background-color: $color-white-shade-4;
    padding: 10rem 0;

    &__content {
        width: 70%;
        margin: 0 auto;

    }

    &__paragraph {
        font-size: 2rem;
    }
}