// Montserrat
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.woff2) format('woff2'),
        url(../fonts/Montserrat/Montserrat-VariableFont_wght.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff2) format('woff2'),
        url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

//playfair Display
@font-face {
    font-family: 'Playfair Display';
    src: url(../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.woff2) format('woff2'),
        url(../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.woff) format('woff'),
        url(../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.woff2) format('woff2'),
        url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.woff) format('woff'),
        url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}