//margin bottom;
.mb-sm {
    margin-bottom: 2rem !important;
}

.mb-md {
    margin-bottom: 4rem !important;
}

.mb-lg {
    margin-bottom: 6rem !important;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}